@model SJBugTracker.Models.Project
@{
    ViewBag.Title = "Project Details";
}

<h2>Tickets for Project</h2>

<table id="project-tickets" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#project-tickets").DataTable({
                ajax: {
                    url: "/api/projects",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "description"
                    },
                    {
                        data: "name"
                    }
                ]
            });
        })
    </script>
}
