@model SJBugTracker.Models.Project
@{
    ViewBag.Title = "New Project";
}

<h2>New Project</h2>

<form id="new-project">
    <div class="form-group">
        <label>Project Name</label>
        <input type="text" value="" id="project-name" name="" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Description</label>
        <input type="text" value="" id="project-description" name="" class="form-control"/>
    </div>

    <button class="btn btn-primary">Create Project</button>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            var project = {
                name: "",
                description: "",
                tickets: []
            };

            $("#new-project").validate({
                submitHandler: function () {
                    event.preventDefault();

                    project.name = $("#project-name").val();
                    project.description = $("#project-description").val();
                    $("#project-name").val('');
                    $("#project-description").val('');

                    $.ajax({
                        url: "/api/projects",
                        method: "POST",
                        data: project
                    })
                        .done(function () {
                            toastr.success("Project successfully created.");
                        })
                        .fail(function () {
                            toastr.fail("Project creation unsuccessful.");
                        });
                }
            });
        });
    </script>
}

